<footer class="footer">
    <div class="footer__wrapper flex --align-center --just-space">
        <div class="footer__logo">
            @@include('../bem-blocks/logo/_logo.html')
        </div>
        @@include('../bem-blocks/menu/_menu.html')
        <ul class="footer__social flex --align-center --just-space">
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__facebook" aria-label="Facebook"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__instagram" aria-label="Instagram"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__telegram" aria-label="Telegram"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__viber" aria-label="Viber"></a>
            </li>
        </ul>
    </div>
</footer>