<div class="delivery" id="delivery">
    <div class="container flex --align-center --just-center">
        <article class="delivery__part flex --align-center --just-end">
            <picture class="delivery__part-pic">
                <img class="delivery__part-img" src="../../img/delivery-1.png" alt="Оливки">
            </picture>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/delivery.svg" alt="Иконка машинки">
                <figcaption class="delivery__pic-descr">Новая почта</figcaption>
            </figure>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/box.svg" alt="Иконка коробки">
                <figcaption class="delivery__pic-descr">Укрпочта</figcaption>
            </figure>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/shop.svg" alt="Иконка магазина">
                <figcaption class="delivery__pic-descr">Самовывоз</figcaption>
            </figure>
            <h3 class="delivery__part-title">- Доставка</h3>
        </article>
        <article class="delivery__part  flex --align-center">
            <picture class="delivery__part-pic">
                <img class="delivery__part-img" src="../../img/delivery-2.png" alt="Травы">
            </picture>
            <h3 class="delivery__part-title">Оплата -</h3>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/coins.svg" alt="Иконка денежного накопления">
                <figcaption class="delivery__pic-descr">Наложенный платёж</figcaption>
            </figure>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/credit-card.svg" alt="Иконка кредитки">
                <figcaption class="delivery__pic-descr">Приват24</figcaption>
            </figure>
            <figure class="delivery__pic">
                <img class="delivery__pic-icon" src="../../img/icons/cash.svg" alt="Иконка наличных денег">
                <figcaption class="delivery__pic-descr">Наличными при самовывозе</figcaption>
            </figure>
        </article>
    </div>
</div>