<section class="about" id="about">
    <h2 class="about__title section-title">О нас</h2>
    <article class="about__block --top">
        <img src="img/about-1.jpg" alt="Пара: Таня и Рома" class="about__picture">
        <div class="about__block-content">
            <h3 class="about__subtitle">Кто мы</h3>
            <p class="about__text">Мы пара: Таня и Рома и мы создатели пряного оливкового масла R.olio.</p>
            <p class="about__text">Предыстория:</p>
            <p class="about__text">Так сложилось в нашей паре, что готовит у нас Рома, он очень увлечен кулинарией и каждый раз придумывает что-то новенькое.</p>
            <p class="about__text">Накануне прошлого Нового года, мы готовили подарки нашим друзьям и родственникам. Нам захотелось к подаркам добавить что-то необычное, от себя.</p>
            <p class="about__text">И к нам пришла идея, Рома готовил вкуснейшее пряное оливковое масло для своих рецептов, добавлял розмарин, тимьян, чеснок, разные виды перцев...каждый раз получался новый неповторимый вкус.</p>
        </div>
    </article>
    <article class="about__block --bottom">
        <img src="img/about-2.jpg" alt="Фото натюрморт с пряным оливковым маслом и свежими овощами" class="about__picture">
        <div class="about__block-content">
            <h3 class="about__subtitle">Что мы делаем</h3>
            <p class="about__text">И мы решили сделать такое масло, как добавление к подарку. Надо сказать, что наши близкие оценили презент и просили снова и снова сделать им такое масло.</p>
            <p class="about__text">И появилась идея: почему бы не попробовать запустить такое масло в продажу?</p>
            <p class="about__text">Рома долго выверял рецепты, я разрабатывала дизайн этикеток и искала поставщиков. </p>
            <p class="about__text">И вот мы готовы представить его вам!</p>
            <p class="about__text">Мы старались сделать наше масло максимально доступным, при этом не потеряв в качестве. Стоимость бутылки(250мл) - всего 115грн.</p>
        </div>
    </article>
</section>